@import "../../styles/variables";

.options {
  flex: 1;
}

.comment:before {
  content: "â—";
  font-size: small;
}

.action-discount, .action-required {

  display: flex;

  > * {
    padding: $padding;
  }

  > * {
    border-left: solid 2px $gray-background;
  }

}
