@import "variables";

%badge {
  display: inline-block;
  span {
    background-color: $gray-background;
    border-radius: 10px;
    padding: 3px 6px;
    display: inline-block;
    text-align: center;
    color: $black;
  }
}
