@import "variables";

.el-dialog-gallery {

  display: flex;
  flex-direction: column;

  > .el-dialog__body {
    flex: 1;
    min-height: 0;
  }

  .el-dialog__header {
    .el-dialog__title {
      display: inline-block;
      margin: 0 $margin;
    }
  }

}
