@import "variables";

.el-main {
  padding: 0;
  margin-left: $margin-top;
}

.el-container {
  min-height: 100px;
}

.el-aside > .stm-resize {
  padding: 0;
}

.stm-resize::-webkit-scrollbar {
  display: none;
}

h3 {
  position: sticky;
  top: 0;
  background-color: white;
  margin-bottom: 0;
  padding-bottom: 15px;
  font-weight: bold;
}

.search-input {
  margin-bottom: $margin-top;
  width: 100%;
}

.el-icon-warning {
  color: $orange;
}
