@import "variables";

%bottom-bar {

  position: absolute;
  bottom: 0;
  padding: $margin-top;
  left: 0;
  right: 0;
  background-color: $gray-background;
  z-index: 2;

  > * + * {
    margin-left: $margin-right;
  }

}
