@import "variables";

@media print {

  .el-carousel__arrow, .el-button, .el-dialog__close {
    display: none;
  }

  a {
    color: $dark-gray;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  * {
    scrollbar-width: none; /* Firefox */
  }

  @page {
    //size: A4;
    margin: 1cm;
  }

  body {
    margin: 0;
  }

  .v-modal {
    display: none !important;
  }

  body.el-popup-parent--hidden {
    #app {
      display: none;
    }
  }

  .el-select__caret.el-input__icon {
    display: none;
  }

  .el-input__inner {
    border: none;
  }

}
