@import "styles/lists";
@import "styles/dialogs";
@import "styles/buttons";
@import "styles/element-ui";

body {
  //background: $gray-background;
}

#app {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

#app-view {
  //margin-top: 20px;
}
