@import "../../styles/variables";

.comment {
  color: $dark-gray;
  font-size: $small-font-size;
  white-space: pre-line;
  i {
    margin-right: $padding;
    color: $orange;
  }
}

td > .action-option > .self, .action-option-info {

  > .name {
    font-weight: 500;
  }

}

.name + .name {
  margin-top: $padding;
}

.action-required, .option-required {
  /deep/ > * + * {
    margin-top: $padding;
    display: inline-block;
  }

  /deep/ em {
    color: $orange;
    font-style: normal;
  }
}
