@import "../../styles/variables";

.comment {
  color: $dark-gray;
  font-size: $small-font-size;
  @media print {
    font-size: $small-font-size-print;
  }
  white-space: pre-line;
  i {
    margin-right: $padding;
    color: $orange;
  }
}

td > .action-option > .self, .action-option-info {

  > .name {
    font-weight: 500;
  }

}

.name + .name {
  margin-top: $padding;
}

.action-required, .option-required {
  /deep/ > * + * {
    margin-top: $padding;
    display: inline-block;
  }

  /deep/ small {
    color: $gray;
    @media print {
      font-size: $small-font-size-print;
    }
  }

  /deep/ em {
    color: $orange;
    font-style: normal;
    font-size: $small-font-size;
    @media print {
      font-size: $small-font-size-print;
    }
  }
}

td.discount, th.discount, .action-option > .discount {
  background: $light-green;
}
